<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SplatfestInformationCalculator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SplatfestInformationCalculator.Properties.Setings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SplatfestInformationCalculator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SplatfestInformationCalculator.Properties.Setings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SplatfestInformationCalculator.Properties.Settings>
            <setting name="PaintRows" serializeAs="String">
                <value>False</value>
            </setting>
        </SplatfestInformationCalculator.Properties.Settings>
        <SplatfestInformationCalculator.Properties.Setings>
            <setting name="PaintRows" serializeAs="String">
                <value>False</value>
            </setting>
        </SplatfestInformationCalculator.Properties.Setings>
    </userSettings>
    <applicationSettings>
        <SplatfestInformationCalculator.Properties.Settings>
            <setting name="FestURL" serializeAs="String">
                <value>https://gist.githubusercontent.com/JustaMushroom/cdae3cc4d10fa078f5a5722750594762/raw/splatfests.json</value>
            </setting>
            <setting name="ProcessOpen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProcessPro" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProcessTricolor" serializeAs="String">
                <value>True</value>
            </setting>
        </SplatfestInformationCalculator.Properties.Settings>
        <SplatfestInformationCalculator.Properties.Setings>
            <setting name="FestURL" serializeAs="String">
                <value>https://gist.githubusercontent.com/JustaMushroom/cdae3cc4d10fa078f5a5722750594762/raw/splatfests.json</value>
            </setting>
        </SplatfestInformationCalculator.Properties.Setings>
    </applicationSettings>
</configuration>